html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Fredoka", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  background-image: url("images/site_back.jpeg");
  background-color: #1d546d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160%;
  background-attachment: fixed;
  background-position-y: 0px;
}

/* general styling */
.hidden {
  display: none;
}

.main {
  margin-top: 120px;
  margin-bottom: 250px;
}

img {
  width: 350px;
}

a {
  text-decoration: none;
}

.description {
  text-align: center;
  max-width: 450px;
  margin: auto;
  padding: 10px;
}

.description p {
  font-size: 20px;
}

/* navigator styling */
nav {
  position: fixed;
  top: 0;
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(8, 8, 53);
}

nav .head-logo {
  height: 60px;
  width: 60px;
  border-radius: 44%;
}
nav .head-link {
  margin-right: 20px;
}

.nav-options {
  margin-left: 20px;
  display: flex;
  list-style-type: none;
  width: 630px;
  justify-content: space-around;
  font-size: 30px;
}
.nav-options li {
  text-decoration: none;
}

nav a {
  color: white;
  padding: 10px;
  border-radius: 16px;
  font-size: 26px;
  font-weight: 600;
}

nav a:hover {
  background-color: #224;
}

/*index styling */
.index-pics {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.index-img {
  height: 100px;
  width: 200px;
  border-left: 1px white solid;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 225, 225, 0.6);
  backdrop-filter: blur(3px);
  z-index: 11;
}

/* events page styling*/
.artists ul {
  list-style-type: none;
}

.artists ul li {
  font-size: 18px;
}

/* social links styling */
.social-links {
  z-index: 10;
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 62px;
}

.social-links a {
  display: block;
  margin-bottom: 14px;
}

.social-links img {
  height: 60px;
  width: 60px;
}

/* footer styling */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(8, 8, 53, 0.6);
  color: white;
  text-align: center;
}

.contact-info {
  margin-bottom: 26px;
}
.contact-info p a {
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.whatsapp {
  color: #25d366;
}

/* responsive styling */
.hamburger {
  display: none;
}
@media only screen and (max-width: 760px) {
  .hamburger {
    display: block;
    font-size: 5vh;
    border: 0;
    background-color: transparent;
    color: white;
    margin-right: 20px;
    margin-top: 15px;
    align-self: flex-start;
  }
  
    nav {
      position: static;
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #224;
    }

  .nav-options,
  .head-link {
    display: none;
    background-color: #224;
    margin: 0px;
  }

  .nav-options.show {
    display: block;
    width: 100%;
    text-align: start;
    padding-bottom: 10px;
  }

  .index-pics {
    display: none;
  }

  .main {
    margin-right: 64px;
  }

  img {
    width: 200px;
  }

  .social-links {
    right: 10px;
    bottom: 40px;
    width: 50px;
  }
  
  .social-links img {
    height: 48px;
    width: 48px;
  }

  body {
    background-image: url("images/site_back.jpeg");
    background-color: #1d546d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280%;
    background-attachment: fixed;
    background-position-y: 0px;
  }
}
